.login-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 100vh; 
  width: 180%;
}

.logo-container {
  margin-bottom: 20px;
}

.login-card {
  width: 500px;
  padding: 100px;
  text-align: center;
}

.full-width {
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 19px; 
}


mat-card-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: rgb(61, 17, 102);
}


